# Ignore VS code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Ignore binary and build folder
bin/
build/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix